<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.johan.dev"
android:versionCode="1"
android:versionName="1.0">

<uses-sdk android:minSdkVersion="8"/>

<uses-permission android:name="android.permission.INTERNET" />

<application android:label="@string/app_name" android:name=".ApplicationProvider">
    <activity
        android:name="ClientActivity"
        android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    <activity android:name=".PreferencesActivity"/>
</application>
</manifest>


<!--<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.johan.dev">

<uses-permission android:name="android.permission.INTERNET" />

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".ApplicationProvider"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".SecondaryScreen" />
    <activity android:name=".DragActivity" />
    <activity android:name=".ClientActivity" />
    <activity android:name=".PreferencesActivity"/>
</application>

</manifest>-->